
.profile-editor-container {
  
  margin-top: 250px;
}

.profile-editor-col {
  max-width: 800px; 
  margin: auto;
}

.button-container {
  margin-top: 20px;
}


.button-container .col {
  margin-top: 10px;
}


.additional-fields-container {
  margin-top: 10px;
}


.additional-fields-container .form-control {
  margin-top: 10px;
}


.additional-fields-container .btn-secondary {
  margin-top: 10px;
}