.chat-menu {
    height: 100%; /* Set height to occupy full height of the container */
    width: 100%; /* Set the width to 50% for half the left side */
    background-color: #fff;
    color: #fff;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .chat-options {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center the chat list */
  }
  
  .chat-option {
    margin-bottom: 15px;
  }
  
  .chat-box {
    border: flex solid transparent; /* Added border for separation */
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, border-color 0.2s; /* Added border-color transition */
  }
  
  .chat-box:hover {
    transform: scale(1.05);
  }
  
  .chat-box.active {
    border-color: #6ab7ff; /* Highlight color for the selected box */
  }
  
  .chat-box h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .chat-box p {
    margin: 0;
    font-size: 14px;
    color: grey;
  }