.chat-menu {
  height: 100%; /* Set height to occupy full height of the container */
  width: 25%; /* Set the width to 50% for half the left side */
  background-color: #f0f0f0cc;
  color: rgba(0, 0, 0, 0.61);
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.chat-options {
  display: flex;
  flex-direction: column; /* Change to column to stack items vertically */
}

.chat-option {
  margin-bottom: 15px;
}

.chat-box {
  border: 1px solid transparent; /* Added border for separation */
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, border-color 0.2s; /* Added border-color transition */
  margin-bottom: 10px; /* Adjust spacing between chat boxes */
}

.chat-box:hover {
  transform: scale(1.05);
}
.chat-option.active {
  background-color: #7289da; /* Discord's highlight color */
}
.chat-box.active {
  border-color: #0074cc; /* Highlight color for the selected box */
}

.chat-box h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.chat-box p {
  margin: 0;
  font-size: 14px;
  color: f0f0f0cc;
}