.chat-app-container {
    display: flex;
    height: 100vh;
  }
  
  .chat-menu {
    height: 100%; /* Set height to occupy full height of the container */
    width: 50%; /* Set the width to 50% for half the left side */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  /* Chat Window */
  .chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
  }