.chat-app-container {
    display: flex;
    height: 100vh;
  }
  
  .chat-menu {
    height: 100%;
    width: 50%; 
    padding: 20px;
    overflow-y: auto; 
    overflow-x: hidden; 
  }
  
  
  .chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
  }