
.like-app-container {
  display: flex;
  height: 100vh;
}


.like-mmenu {
  height: 106vh;
  width: 40vh;
  padding: 0px;
  border-radius: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}


.like-window {
  flex: 1;
  padding: 20px;
  background-color: white;
}


