
.like-app-container {
  display: flex;
  height: 100vh;
}

/* Like Menu */
.like-mmenu {
  height: 100%;
  width: 25%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Like Window Container */
.like-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}


