.request-container {
    background-color: #f0f0f0; 
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-weight: lighter;
    text-align: center;
    margin-top: 400px;

  }
  
  .request-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: left;
  }

  .request-container p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: left;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .input-container input {
    padding: 20px;
    margin: 5px;
    border: 1px solid #0074cc;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .requester-button {
    background-color: #fff !important;
    color: #0074cc !important;
    padding: 10px !important;
    border-radius: 20px !important;
    width: 65%;
    font-size: 20px !important;
    margin-bottom: 10px!important;
    margin-top: 10px;
  }
  
  .requester-button:hover {
    background-color: #0074cc!important;
    color:#fff!important;
    border: 1px solid #0074cc!important;
  }

  .backer-button {
    background-color: #fff!important;
    color: #0074cc!important;
    padding: 10px!important;
    border-radius: 20px!important;
    width: 65%!important;
    font-size: 20px!important;
    margin-bottom: 10px;
  }
  
  .backer-button:hover {
    background-color: #0074cc!important;
    color:#fff!important;
    border: 1px solid #0074cc!important;
  }