.bottomnav{
    color: black;
    position: absolute;
    bottom: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
   
  }
 
  .bottom a{
    color: grey;
    text-decoration: none;
  }
  