.chat-app-container {
    display: flex;
    height: 100vh; 
    border-radius: 10px;
  }
  
  .chat-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-option:hover {
    background-color: #4a4f57;
    border-radius: 12px;
  }
  
  .chat-option.active {
    background-color: #0c7dfe; 
    color: white;
    border-radius: 12px;
  }
  
  
  .chat-window {
    position :relative;
    flex: 1;
    padding: 20px;
    overflow-y: auto; 
    border-radius: 10px;
  }
  
  
  .chat-bubble {
    max-width: 35%;
    margin-bottom: 18px;
    padding: 8px 12px;
    border-radius: 10px;
    size-adjust: content;
    overflow-wrap: break-word; /* Break the text into a new line if it overflows the box */
    word-wrap: break-word;
  }
  
  
  .sender-chat {
    margin-right: auto;
    text-align: left;
    size-adjust: content;
    margin-left: 90vh;
    background-color: #0c7dfe; 
    color: white;
    align-self: flex-end;
  }
  
  
  .receiver-chat {
    size-adjust: content;
    background-color: rgb(173, 172, 172); 

  }
  

  .text-size-adjjust {
    max-width: 100%;
    
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .chat-window {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
  }
  
  
  
  
  .text-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 2vh;
    position: fixed;
    bottom: 30px;
    width: calc(70% - 40px); 
    z-index: 1; 
  }
  .text-input input {
    flex: 1;
    padding: 10px;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    bottom: 30;
  }
  
  .text-input button {
    outline: white;
    padding: 10px 20px;
    border: 2px solid white;
    align-items: center;
    background-color: #0c7dfe; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .timestamp {
    top: -20px;
    color: black;
    font-size: 20px;
    display: none;
  }
  
  .sender-ts {
    margin-right: 100px;
  }
  
  .receiver-ts {
    margin-right: 100px;
  }
  