/* Hauptcontainer-Styling */
.profil-container {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f4f4f4; /* Hintergrundfarbe des Containers */
}

/* Styling für die Zeilen */
.profil-row {
    background-color: #fff; /* Hintergrundfarbe der Zeile */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Schatten für die Zeile */
    border-radius: 10px; /* Abgerundete Ecken */
    overflow: hidden;
}

/* Styling für das Logo-Container */
.profil-bild-container {
  text-align: center;
  padding: 20px;
  background-color: #eaeaea; /* Hintergrund für das Logo */
  cursor: pointer; /* Zeigt einen Zeiger-Cursor an, um Interaktivität anzudeuten */
  position: relative;
}

/* Styling für den Klick-Hinweis */
.profil-bild-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007bff; /* Farbe des Klick-Hinweises */
  background-color: rgba(255, 255, 255, 0.8); /* Hintergrund des Klick-Hinweises */
  padding: 5px;
  border-radius: 5px;
  display: none; /* Standardmäßig versteckt */
}

/* Zeigt den Klick-Hinweis beim Hover an */
.profil-bild-container:hover div {
  display: block;
}

/* Styling für das Unternehmenslogo */
.profil-bild {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 3px solid #007bff; /* Rahmenfarbe des Logos */
}

/* Styling für die Karten */
.profil-card {
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Übergangseffekt für Hover */
}

/* Hover-Effekt für Karten */
.profil-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Schatten bei Hover */
}

/* Styling für Eingabefelder */
.profil-input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc; /* Rahmenfarbe */
  border-radius: 5px; /* Abgerundete Ecken */
  width: 100%; /* Vollbreite */
  box-sizing: border-box; /* Box-Modell für die Breitenberechnung */
  color: grey; /* Farbe des Eingabetextes */
}

/* Stil für den Platzhaltertext */
.profil-input::placeholder {
  color: grey; /* Farbe des Platzhalters */
}

/* Stil für den Text, wenn der Benutzer anfängt zu schreiben */
.profil-input:focus {
  color: black; /* Farbe des Textes bei Fokus */
}

/* Styling für den Speichern-Button */
button {
  background-color: #007bff; /* Buttonfarbe */
  color: white; /* Textfarbe */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Hover-Effekt für Buttons */
button:hover {
  background-color: #0056b3; /* Dunklere Buttonfarbe beim Hover */
  color: white;
}
