.tutorial-container {
   border-radius: 8px;
  }
  
  .tutorial-container h3{
    color: black;
  }

  .tutorial-container p{
    color: black;
  }

  .bg-light-text-center-py-3
  {
   display: flex;
   justify-content: center;
  }
  
  .carousel-item img {
    height: 650px; 
  }

  .tutorial-end-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  
  
  
  
  