/* Container für den Zurück-Button */
.back-button-container {
  position: absolute;
  bottom: 60px; /* Ändere den Abstand vom unteren Rand nach Bedarf */
  left: 600px; /* Ändere den linken Abstand nach Bedarf */
}