.seperator {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-top: 50px; 
}

.seperator::after {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 100%;
  height: 5px; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
  