.login-button-no-login {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    color: #3381ee;
    cursor: pointer;
    outline: none;
    border: 2px solid #3381ee;
    font-size: 18px;
    position: absolute;
    right: 80px; 
    top: 18px;
  }
  
  .login-button-no-login:hover {
    color: #ffffff;
    background-color: #3381ee;
  }