.logo-link {
  text-decoration: none; 
  color: #0074cc; 
  position: absolute;
  top: 18px; 
  left: 55px; 
  font-size: 28px;
}

.logo {
    width: 65px; 
    height: auto;
    position: absolute;
    top: 7px; /* Abstand von oben */
    left: 20px; /* Abstand von links */
}

.logo-link:hover {
  text-decoration: none; /* Remove underline on hover */
}
