  .bg-body-tertiary{
    background-color:  #e6e6e6;
  }
  
  .navbar-nav .nav-link {
    padding:  0.5rem; /* Adjust padding as needed */
    margin-right: 10px; /* Increase the space between links */
    font-size: 20px; /* Set the font size */
  }
  
  .navbar-link:hover {
    color: white;
    background-color: #000080;
    border-radius: 10%;
  }
  .custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fixed-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width as needed */
    z-index: 1000; /* Ensure it's above other content */
  }