  .navbar-nav .nav-link {
    padding:  0.5rem; 
    margin-right: 10px; 
    font-size: 20px; 
  }
  
  .navbar-link:hover {
    color: white;
    background-color: #000080;
    border-radius: 10%;
  }
  .custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fixed-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
  }

  .bottom {
    position: static !important;
  }