.navbartop {
    overflow: hidden;
    font-family: 'Roboto Slab', sans-serif;
    margin-right: 25px;

  }

  .navbartop-nav .nav-link {
    padding:  0.5rem; 
    margin-right: 10px; 
    font-size: 25px; 
  }

  .custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fixed-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width as needed */
    z-index: 1000; /* Ensure it's above other content */
  }