.profile-view {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4; /* Hellgraue Hintergrundfarbe anpassen */
    border: 1px solid #ccc; /* Rand um die Profilansicht hinzufügen */
    border-radius: 8px; /* Abgerundete Ecken für das Design */
  }
  
  .profile-header {
    text-align: center;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Kreisform für das Profilbild */
    background-color: #ddd; /* Farbe für das Profilbild anpassen oder Bild einfügen */
    margin-bottom: 10px;
    display: inline-block; /* Profilbild als Inline-Block, um zentriert zu bleiben */
  }
  
  .edit-profile {
    color: #666; /* Farbe für den "Bild bearbeiten"-Text anpassen */
    cursor: pointer;
  }
  
  .profile-section {
    text-align: left;
    margin-bottom: 100px; /* Größerer Abstand zwischen den Unterüberschriften */
  }
  
  h2 {
    color: #333; /* Farbe für die Untertitel anpassen */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    height: 80px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .timeline {
    border-left: 2px solid #ccc; /* Linie für den Werdegang hinzufügen */
    padding-left: 10px;
    margin-top: 10px;
  }
  
  .event {
    margin-bottom: 15px;
    position: relative;
  }
  
  .date {
    font-weight: bold;
    position: absolute;
    right: 0;
  }
  
  .description {
    margin-left: 10px;
  }

  .edit-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  
  