/* Container für die Textbox */
.text-controls {
  max-width: 600px;
  margin-right: 100px;
  margin-top: 275px;
  float: right;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

/* Überschreibe Bootstrap-Stile für Formular-Controls */
.form-control {
  border-radius: 10px;
  font-size: 15px;
  padding: 20px;
  height: auto; /* Automatische Höhe basierend auf dem Inhalt */
  width: 100%;
  border: 1px solid #ccc;
}
