.articles-container {
  background-color: #e6e6e6;
}

.bg-light-text-center-py-3
{
  background-color: #e6e6e6;
 display: flex;
 justify-content: center;
}

.carousel-item img {
  height: 650px; 
}





