.articles-container {
border-radius: 8px;
margin-top: 40px;
}

.bg-light-text-center-py-3
{
 display: flex;
 justify-content: center;
}

.carousel-item img {
  height: 650px; 
  border-radius: 20px;
}





