.like-window {
    display: flex;
    flex-direction: column;
    height: 100%;

  }
  
  .like-content {
    flex: 1; /* Take remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Adjust padding as needed */
  }
  
  .no-content {
    flex: 1; /* Take remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    background-color: #f0f0f0; /* Example background color */
  }
  
  .input-container input {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed */
  }
