#filter-button {
    margin-top: 2em;
    margin-left: 28.5em;
    width: 5em !important;
    margin-bottom: px;
}

.filter-button:hover {
    background-color: #fff !important;
    color: #0074cc !important;
}

#apply-button {
    margin-top: 2em;
    width: 6em !important;
    margin-bottom: px;
}

.apply-button:hover {
    background-color: #fff !important;
    color: #0074cc !important;
}

.dropdown-form {
    margin: 0px;
    /* Ändere den Abstand nach Bedarf */
}

.horizontal-container {
    display: flex !important;
    flex-direction: column !important;
}

.horizontal-form {
    margin-left: 36em;
}

.horizontal-options {
    gap: 30px;
    margin-bottom: 2.5em;
}

.horizontal-options:last {
    margin-bottom: 0;
}

.horizontal-inputbox input {
    width: 20em;
}