.register-button-no-login {
    width: 180px;
    height: 45px;
    border-radius: 10px!important;
    background-color: #0074cc !important;
    color: #fff!important;
    font-size: 18px!important;
    position: absolute;
    right: 80px; 
    top: 30px;
  }
  
  .register-button-no-login:hover {
    color: #0074cc!important;
    background-color: #fff!important;
  }