.profil-container {
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 192.5vh;
    background-color: #e6e6e6;
}

.profil-row {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    overflow: hidden;
}

.profil-bild-container {
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #A9A9A9;
  cursor: pointer; 
  position: relative;
}

.profil-bild-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  display: none; 
}

.profil-bild-container:hover div {
  display: block; 
}

.profil-bild {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 3px solid #007bff; 
}

.profil-name {
    color: #007bff; 
}

.profil-info {
    color: grey; 
}

.profil-card {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    margin-top: 10px; 
}

.profil-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.15); 
}

.profil-input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: grey; 
}


.profil-input::placeholder {
  color: grey; 
}


.profil-input:focus {
  color: black; 
}


