.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd; 
  border-radius: 15px; 
  overflow: hidden; 
  margin-top: 10px;
  width: calc(100% - 430px); 
}

.left-aligned-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.pvsbuttus{
  display: flex;
  flex-direction: end;
  align-items: flex-end;
}


