.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners are visible */
  margin-top: 10px;
  width: calc(100% - 430px); /* Adjust the width by subtracting the total left and right margins (40px in this case) */
}

.left-aligned-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.pvsbuttus{
  display: flex;
  flex-direction: end;
  align-items: flex-end;
}


