:root {
  background-color: white;
  font-family: 'Manrope', sans-serif;
  background-image: url(https://i.pinimg.com/originals/93/78/e4/9378e41afca5687216c8dedc6634839b.jpg);
  background-size: cover;
}
