.like-menu {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0cc;
  color: rgba(0, 0, 0, 0.61);
  padding: 15px;
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: hidden;
}

.like-options {
  display: flex;
  flex-direction: column;
}

.like-option {
  margin-bottom: 15px;
}

.like-box {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 10px;
  width: 100%; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, border-color 0.2s;
  margin-bottom: 10px;
  box-sizing: border-box; 
}

.like-box:hover {
  transform: scale(1.02);
  border-radius: 12px;
}

.like-option.active {
  background-color: #0c7dfe; 
  color: white;
  border-radius: 10px;

}

.like-box.active {
  background-color: #0c7dfe; 
    color: white;
}

.like-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.like-box p {
  margin: 0;
  font-size: 14px;
}