.like-window {
    display: flex;
    flex-direction: column;
    height: 100%;

  }
  
  .like-content {
    flex: 1; 
    overflow-y: auto; 
    padding: 10px; 
  }
  
  .no-content {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px; 
    background-color: #f0f0f0; 
  }
  
  .input-container input {
    flex: 1;
    margin-right: 10px; 
  }
