.like-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-containerlike{
  border-radius: 15px; 
}

.no-content{
  margin-top: 40vh;
  text-size-adjust: '30px';
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd; 
  border-radius: 15px; 
  overflow: hidden; 
  margin-top: 10px;
  width: calc(100%); 
}

.left-aligned-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.pvsbuttus{
  display: flex;
  flex-direction: end;
  align-items: flex-end;
}

