.like-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-containerlike{
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 15px; /* Rounded corners */
}

.no-content{
  margin-top: 40vh;
  text-size-adjust: '30px';
  text-align: center;
}
