.hinweise-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin-left: 20px;
  }
  
  .hinweise-container h1 {
    margin-bottom: 20px;
  }
  
  .hinweise-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .hinweise-container p {
    margin-bottom: 10px;
    text-align: justify;
  }
  