.kontakt-container {
    max-width: 600px;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .kontakt-container h1,
  .kontakt-container p {
    margin-left: 20px; 
    margin-bottom: 10px;
  }
  
  .kontakt-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 20px; 
  }
  
  .kontakt-form input,
  .kontakt-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .kontakt-form textarea {
    grid-column: 1 / -1;
    resize: vertical;
  }
  
  .kontakt-form button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #2b3687;
    color: white;
    cursor: pointer;
    grid-column: 1 / -1;
  }
  
  .kontakt-form button:hover {
    background-color: #003399;
  }
  